.appointment-section{
    margin-top: 50px;
}
.appointment-section img{
    width: 100%;
}
.appointment-time{
    margin-top: 50px;
}
.heading2{
    text-align: center;
    color: #00d2d3;
    margin-bottom: 20px;
}